{% include "admin_head.html" %}
<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
                <div class="card p-3 mt-5" id="item11">
                    <h2 class="text-center"> Add Items</h2>
                    <div class="item">
                        <div class="flex">
                            <form action="add_items1" method="post" enctype="multipart/form-data">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="mt-1">Choose Category :</div>
                                        <select name="category_id" id="category_id" class="form-control mt-2">
                                            <option value="Choose Category">Choose Category</option>
                                            {% for category in categories: %}
                                            <option value="{{category['_id']}}">{{category['category_name']}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-md-6 mt-3">
                                        <label>Item Name:</label>
                                        <input type ="text" id ="item_name" name ="item_name" placeholder="enter name" class="form-control mt-2">
                                    </div>
                                    <div class="col-md-6 mt-3">
                                        <label> Item Image:</label>
                                        <input type="file" id="item_image" name="item_image" class="form-control mt-2">
                                    </div>
                                    <div class="col-md-6 mt-3">
                                        <label>Item Price:</label>
                                        <input type="text" id="item_price" name="item_price" placeholder="enter price" class="form-control mt-2">
                                    </div>
                                    <div class="col-md-6 mt-3">
                                        <label>Item_quantity:</label>
                                        <input type="number" id="item_quantity" name="item_quantity"  placeholder="enter quantity" class="form-control mt-2">
                                    </div>
                                    <div class="col-md-6 mt-3">
                                        <label>Item_description:</label>
                                        <input type="text" id="item_description"  name="item_description"  placeholder="enter description" class="form-control mt-2">
                                    </div>
                                    <div class="col-md-6 mt-4">
                                        <input type="submit" value="add item" id="button1" class="btn btn-success w-100 form-control">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>


<style>
 body{
    background-image: url("https://static.vecteezy.com/system/resources/previews/022/085/859/non_2x/realistic-blur-background-of-store-department-store-supermarket-or-grocery-store-ai-generated-image-photo.jpg");

    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
   }
</style>

