{%include "head.html"%}
<div style="position:absolute;left:0;top:100px;z-index:1000;width:100%;">
<br>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="card mt-5 p-3 display:block">
            <div class="text-center h4"><i><b>customer Login</b></i></div>
                <form action="customer_login1" method="post">
                  <div>
                    <label for ="email"><i><b>Email :</b></i></label>
                    <input type="email" name="email" id="email" placeholder="Enter Email" class="form-control mt-2">
                  </div>
                  <div class="mt-3">
                    <label for ="password"><i><b>Password :</b></i></label>
                    <input type="password" name="password" id="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Please enter correct password"  placeholder="Enter password" class="form-control mt-1">
                  </div>
                  <div class="row">
                      <div class="col-md-6 mt-2">
                          <input type="submit" id="submit" value="login" class="btn btn-dark w-100">
                      </div>
                      <div class="col-md-6 mt-2">
                          <a href="customer_register" class="btn btn-primary w-100">Register</a>
                      </div>
                    </div>
                </form>
        </div>
    </div>
</div>
</div>
<style>
body{
    background-image:url("https://t4.ftcdn.net/jpg/03/11/50/71/360_F_311507184_0mErEL2kUw7z4AbXhsxPjFE7hQnY7BLy.jpg");
    background-repeat:no-repeat;
    background-position:center;
    background-size:cover;

    }
</style>


