{%  include "head.html" %}
<div class="home"><h2><i>Welcome To Grocery Management</i></h2></div>

<style>
body{
    background-image: url("https://t3.ftcdn.net/jpg/04/34/19/08/360_F_434190838_3FCCIiag1LYlL1IA6pb0WPEEqxiZVfPO.jpg");
<!--    height:1600px;-->
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
   }
.home{
    color:#cc0099;
    text-align:center;
    margin-top:150px;
    margin-left:10px;
    font-weight:bold;

}
</style>



