{% include "admin_head.html"%}
<div class="text-center color-white mt-5 h1" style="color:#ff3300;"><b>Customers List</b></div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-6">
        {% for customer in customers: %}
    <div class="card p-3 mt-3" >
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered ">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Age</th>
                            <th>Gender</th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr>
                            <td>{{customer['name']}}</td>
                            <td>{{customer['email']}}</td>
                            <td>{{customer['phone']}}</td>
                            <td>{{customer['age']}}</td>
                            <td>{{customer['gender']}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endfor  %}
</div>
</div>







<style>
    body{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS-_E7fQSCTA96e5lUY54lmKOugd3tBjVRYxQ&usqp=CAU");

    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
   }
</style>


